<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
            integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <title>Vue To-Do List</title>
    </head>

    <body>
        <div id="root">
            <div class="container">
                <!-- titolo -->
                <div class="title">
                    <h1>To-Do List</h1>
                </div>
                <!-- /titolo -->

                <!-- pulsante "aggiungi" e input -->
                <div class="add-item">
                    <input v-model="add" type="text" @keyDown.enter="addToDo" placeholder="Aggiungi cose da fare...">
                    <button @click="addToDo"><i class="fas fa-plus"></i> Aggiungi</button>
                </div>
                <!-- /pulsante "aggiungi" e input -->

                <!-- lista to-do -->
                <ul v-if="toDoList.length > 0" class="list">
                    <li v-for="(toDo,index) in toDoList">
                        <span @click="completedTask(toDo)"
                            :class="toDo.completed == true ? 'completed' : 'not-completed'">{{ toDo.testo
                            }}
                        </span>
                        <i @click="removeToDo(index)" class="fas fa-times"></i>
                    </li>
                </ul>
                <!-- /lista to-do -->

                <!-- testo v-else -->
                <h2 v-else>Hai completato tutte le task!</h2>
            </div>
        </div>
        <script src="js/script.js"></script>
    </body>

</html>

<!-- :class="toDo.completed == false ? 'completed' : ''" -->